<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/but.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>but</title>
</head>
<body>
  <%- include('../views/partials/header.ejs') %>
  <div class="container">

    <div class="table">
      <div class="table_header">
        <h1>Lorem ipsum dolor sit amet.</h1>
      </div>
      <div class="content">
        <div class="table_content1">
            <div class="table_content">
                <div class="card_number">1</div>
                <div class="card_logo">
                  <img src="/images/Logo_Chelsea.svg" alt="logo">
                </div>
                <div class="card_name">
                  <p>chelsea</p>
                </div>
                <div class="card_but">
                  <p>36 buts</p>
                </div>
               
        
              </div>
              <div class="table_content">
                <div class="card_number">1</div>
                <div class="card_logo">
                  <img src="/images/Logo_Chelsea.svg" alt="logo">
                </div>
                <div class="card_name">
                  <p>chelsea</p>
                </div>
                <div class="card_but">
                  <p>36 buts</p>
                </div>
               
        
              </div>
              <div class="table_content">
                <div class="card_number">1</div>
                <div class="card_logo">
                  <img src="/images/Logo_Chelsea.svg" alt="logo">
                </div>
                <div class="card_name">
                  <p>chelsea</p>
                </div>
                <div class="card_but">
                  <p>36 buts</p>
                </div>
               
        
              </div>
              <div class="table_content">
                <div class="card_number">1</div>
                <div class="card_logo">
                  <img src="/images/Logo_Chelsea.svg" alt="logo">
                </div>
                <div class="card_name">
                  <p>chelsea</p>
                </div>
                <div class="card_but">
                  <p>36 buts</p>
                </div>
               
        
              </div>
              <div class="table_content">
                <div class="card_number">1</div>
                <div class="card_logo">
                  <img src="/images/Logo_Chelsea.svg" alt="logo">
                </div>
                <div class="card_name">
                  <p>chelsea</p>
                </div>
                <div class="card_but">
                  <p>36 buts</p>
                </div>
               
        
              </div>
          </div>
          <div class="table_content2">
            <img src="/images/halland.png" alt="didier">
            <div class="trait"></div>
          </div>
      </div>
    
     

    </div>
  </div>
</body>
</html>
