<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/stylesheets/competition.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>

<body>
    <%- include('../views/partials/header.ejs') %>
        <div class="container">

            <div class="table">
                <div class="table_header">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>
                <div class="table_content">
                    <div class="card_name">
                        <p>Heure à Destination</p>
                    </div>
                    <div class="card_number">
                        <p>10299 ft</p>
                    </div>
                </div>



            </div>

            <a href="/palette" class="btn">palette</a>
        </div>
</body>

</html>