<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
</head>
<body>
 
  <div class="container">

    <div class="table">
      <div class="table_header">
        <h1>Lorem ipsum dolor sit amet.</h1>
      </div>
      <div class="table_content">
        <div class="card_number">1</div>
        <div class="card_logo">
          <img src="/images/Logo_Chelsea.svg" alt="logo">
        </div>
        <div class="card_name">
          <p>chelsea</p>
        </div>
        <div class="card_point">
          <p>88 pts</p>
        </div>
        <div class="card_but">
          <p>+62</p>
        </div>
        <div class="card_competition">
          <img src="/images/pngwing.com.png" alt="logo">
        </div>

      </div>
      <div class="table_content">
        <div class="card_number">1</div>
        <div class="card_logo">
          <img src="/images/Logo_Chelsea.svg" alt="logo">
        </div>
        <div class="card_name">
          <p>chelsea</p>
        </div>
        <div class="card_point">
          <p>88 pts</p>
        </div>
        <div class="card_but">
          <p>+62</p>
        </div>
        <div class="card_competition">
          <img src="/images/pngwing.com.png" alt="logo">
        </div>

      </div>
    </div>
  </div>
</body>
</html>
