<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/stylesheets/match.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>but</title>
</head>
<body>
  <%- include('../views/partials/header.ejs') %>
  <div class="container">

    <div class="table">
        <div class="table_content">
            <div class="card1">
                <div class="image">
                    <img src="/images/pngwing.com (1).png" alt="carabao">
                </div>
                <div class="texte">
                    <p>Carabao cup</p>
                </div>
            </div>
            <div class="card2">
                <div class="image2">
                    <img src="/images/pngwing.com (1).png" alt="carabao">
                </div>
                <div class="texte2">
                    <p>MAN UNITED VAINQUEUR vs Newcastle</p>
                </div>
            </div>
        </div>
        <div class="table_content">
            <div class="card1">
                <div class="image">
                    <img src="/images/pngwing.com (1).png" alt="carabao">
                </div>
                <div class="texte">
                    <p>Carabao cup</p>
                </div>
            </div>
            <div class="card2">
                <div class="image2">
                    <img src="/images/pngwing.com (1).png" alt="carabao">
                </div>
                <div class="texte2">
                    <p>MAN UNITED VAINQUEUR vs Newcastle</p>
                </div>
            </div>
        </div>


    
    
     

    </div>
  </div>
</body>
</html>
