<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/tableau.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class="tableau" id="stock">
            <h2>Region nord</h2>  
          </section> 
          
         <section class="two-section">
            <section class="table__header">
                <h1 >   PRODUIT  <span class="produits"> CÉRÉALE</span>  </h1>
            </section>
            
            <section class="table__body" >
                <table>
                    <thead>
        
                        <tr>
                            <th> Marchés </th>
        
                            <th> Date</th>
                            <th > Riz Paddy</th>
                            <th > Riz Paddy</th>
                            <th > Riz Paddy</th>
                            <th > Riz Paddy</th>
    
                        </tr>
                    </thead>
                    <tbody>
        
                        <tr >
                            <td>GUIDER</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                        <tr >
                            <td>POLI</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                        <tr >
                            <td>GUIDER</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                        <tr >
                            <td>POLI</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                        <tr >
                            <td>GUIDER</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                        <tr >
                            <td>POLI</td>
                            <td class="date">2023-05-15 </td>
                            <td>200</td>
                            <td> -</td>
                            <td>50</td>
                            <td>3000</td>   
                        </tr>
                    </tbody>
                </table>
            </section>
         </section>
    </div>
    
</body>
</html>