*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  .container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    background-image: url("/images/pl-footer-m-bottom.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: #37003c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  }
  .table{
   border: 1px solid white;
    max-width: 100%;
    width: 800px;
    height: auto;
    padding: 10px;
    color: white;
  }

.table_content{
    width: 100%;
    height: auto;
    margin-bottom: 35px;

}
.table_content .card1{

border: 1px solid rgb(0, 119, 255);
display: flex;
margin-bottom: 5px;
background-color: #37003c;
}
.card1 .image{
    width: 80px;
    height: 90px;
    background-color: #54025B;

    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.image img{
    width: 80%;
    /* height: 100%; */
}
.card1 .texte{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.table_content .card2{

    border: 1px solid rgb(0, 119, 255);
    display: flex;
    background-color: #37003c;
    }
    .card2 .image2{
        width: 80px;
        height: 40px;
        background-color: #54025B;
        padding: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
    
    }
    .image2 img{
        width: 80%;
        height: 100%;
    }
    .card2 .texte2{
        /* border: 1px solid red; */
        width: 100%;
        text-align: center;
        /* text-transform: uppercase; */
        font-size: 25px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }